.bash_history
.bash_logout
.cache
.cursor-server
.histfile
.lesshst
.local
.zshrc.*
.motd_shown
.zsh_history
keymaps.lua
lazygit
lazygit.tar.gz
.vim
.viminfo
.wget-hsts
.tmux
.p10k.*
.zcompdump
.zcompdump-*
.profile
.sudo_as_admin_successful
.bashrc
.oh-my-zsh
.ssh
.config/gh
