[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[user]
	email = addoseth35@gmail.com
	name = Seth Addo
[credential "https://github.com"]
	helper = 
	helper = !/home/seth/.local/share/nvim/mason/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/seth/.local/share/nvim/mason/bin/gh auth git-credential
